<!DOCTYPE html>
 <html>
 <head>
  <title> profiles page </title>
 </head>
  <body>
    <ul>
        {{profiles.user_name}}
        {{profiles.user_url}}
        {{profiles.user_email}}
    </ul>
  </body>
</html>
